body {
  background-color: #5aa469;
}

.container {
  max-width: 200px;
  padding: 20px;
  text-align: center;
}

h1 {
  font-family: "Plaster", cursive;
  text-align: center;
  width: 200px;
  line-height: 40px;
  font-size: 50px;
  color: #c70039;
  -webkit-text-stroke: 0.5px #5f1f4e;
}

button,
.score {
  border-radius: 5px;
  font-family: "DotGothic16", sans-serif;
  color: #581845;
  padding: 5px;
}
.grid {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  border-color: #581845;
  background-color: #f1e7dc;
}

.grid div {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: #c70039;
}

.apple {
  background-color: #ffc300;
}
